{% extends 'base.html' %} {% block content %} {% include "hero.html" %}
<section class="container mx-auto my-8">
    <h2>All Brands</h2>
    <ul class="flex gap-4 items-center my-4">
        {% for brand in brands %}
        <li>
            <a
                class="btn btn-warning"
                href="{% url 'brand_based_cars' brand_id=brand.id %}"
                >{{ brand.name }}</a
            >
        </li>
        {% endfor %}
    </ul>
</section>

<section class="container mx-auto my-8">
    <h2>Total Car Found:{{brand_based_cars|length}}</h2>
    <div class="grid grid-cols-3 items-cener gap-4 justify-evenly my-4">
        {% for car in brand_based_cars %}
        <div class="card card-compact bg-base-100 shadow-xl">
            <figure class="h-96 overflow-hidden">
                <img src="/media/{{car.image}}" alt="{{ car.name }}" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">{{ car.name }}</h2>
                <p>{{ car.brand.name }}</p>
                <div class="card-actions justify-end">
                    <a
                        href="{% url 'car_detail' pk=car.id %}"
                        class="btn btn-success"
                        >View Details</a
                    >
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</section>
{% endblock %}
